<form action="/ranks/api/anime" method="POST" id="update_anime" class="" >
	<div class="new_anime">
		<div class="form-group">
			<label for="name" class="text-orange">Anime Name</label>
			<input id ="name" type="text" name="name" value="" placeholder ="Naruto">
		</div>
		<div class="form-group" >
			<label for='rating' class="text-orange">Anime Rank</label>
			<input id="rating" type="text" name="rating" value="" placeholder="8.00">
		</div>
		<div class="form-group">
			<label for="pictureLink" class="text-orange">Lastly, please provide a URL to a picture represeting this anime</label>
			<input id="pictureLink" type="text" name="pictureLink" value="" placeholder="https://www.google.com/search?q=attack+on+titan&sxsrf=AOaemvLVd-fSwaVE8zU0qab9oS-hPaoL6w:1631763306177&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjrguOByILzAhX3FTQIHSv9DDMQ_AUoAnoECAEQBA&biw=1141&bih=558&dpr=2.5#imgrc=kXpfDnnpY8vVVM">  
		</div>
		<div class="form-group">
			<button type="submit" class="btn text-dark">Save</button>
		</div>
		
	</div>
</form>