<!DOCTYPE html>

<html>
	<head>
		<%- include('../partialsForHtml/head'); %>
	</head>
	<body>
		<header>
			<div class="container">
				<div id="branding">
					<h1>Top Anime</h1>
				</div>
				<nav>
					<ul>
						<li> <a href = "/" >Home</a></li> <!-- href seems to follow app.js routes -->
						<li> <a href = "ranks" >Best Anime</a></li> 
						<li> <a href = "playLists" >Anime Playlists</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<main id = 'ranks-main'>
			<div class = "container">
				<h1>Anime Ranks</h1>
				<div class="box-nav d-flex justify-between">
					<a href = '/ranks/add-anime' class = 'border-shadow'>
						<span class = 'text-gradient'> <u class="fas fa-plus"></u> Add an Anime </span>
					</a>
				</div>

				<form action="/" method="POST">
					<table class="table">
						<thead>
							<tr>
								<th>Rank</th>
								<th>Name</th>
								<th>Rating</th>
								<th>Rate It</th>
							</tr>
						</thead>
						<tbody>
							<%- include('../partialsForHtml/tableRow') %>
							<!-- <tr>
								<td class="text-center">2</td>
								<td>Jojo's Bizzare Adventures</td>
								<td class="text-center">9.98</td>
								<td class="text-center" ahref = '#' class="btn border-shadow update">
									<span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
								</td>
							</tr>
							<tr>
								<td class="text-center">3</td>
								<td>Lelouch's Rebellion</td>
								<td class="text-center">9.18</td>
								<td class="text-center" ahref = '#' class="btn border-shadow update">
									<span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
								</td>
							</tr> -->
						</tbody>
					</table>
				</form>
				<img src = "images/noseMouth.png" alt = "Captivating Image" width = "1500" height = "500" >
			</div>
		</main>
		
		

		<section id = "newsletter">
			<div class = "container">
				<h4>Sign Up to share your suggestions and find your next anime</h4>
				<form>
					<input type = "email" placeholder = "Enter your email: ">
					<button type = "submit" class = "button_1">Subscribe Now!</button>
				</form>
			</div>
		</section>

		<footer>
			<p>Anime Rankings, various Images are credited to other </p>
		</footer>
	</body>
</html>